@import "../styles/global.scss";

.categories {
  margin-bottom: 100px;
  &__title {
    // font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-transform: uppercase;
  }
  .nav {
    display: flex;
    // background-color: aquamarine;
    justify-content: flex-start;

    &__img {
      height: 443px;
      width: 387px;
      margin-left: 100px;
    }

    &__list {
      text-transform: uppercase;
      font-weight: 26px;
      line-height: 34px;
      list-style: none;
      align-self: center;
    }
    &__item {
      font-weight: 26px;
      margin-bottom: 16px;
      &:hover {
        font-weight: 500;
      }
    }
  }
}
