//TODO add spacing left to arr

@import '../styles/global.scss';
.join{
    font-family: 'Roboto Mono';
    color: $color-grey;
    text-decoration-line: underline;
    width: pre;
}                       