@import '../styles/global.scss';

.logo {
    display: flex;
    flex-direction: column;
    color: $color-black;
    &_primary{
      font-size: 30px;
    }
    &_secondary{
      font-size: 17px;
    }
  }