$color-black: #1c1f22;
$color-grey: #757778;

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 150px;
  margin-bottom: 80px;
}
