
// TODO add black color to current page
@import '../styles/global.scss';
a {
  display: block;
  text-decoration: none;
  &:link, &:visited {
    color: $color-grey;
  }
  &:hover, &:active {
    color: $color-black ;
  }
 
}

.header-main {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: 0 auto;  
  font-size: 18px;
  width: 1200px;
  text-decoration: none;

  &_pages {
    display: flex;
    width: 400px;
    justify-content: space-between;
  }
  &_helpers {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 400px;
  }
}

